*{
    /* overflow-x: hidden; */
    margin: 0%;
    padding: 0%;    
}

#ks{
    background-color:#347B98;
    width: 100%;
    background: linear-gradient(110deg, #2D6980, 50%,#9DCADD 50%); 
    position:sticky;   
}
.sharp{
    border-radius:0;
}
#KSR_logo{
    width: 50%;
}
#mynav{
    width: 100%;
   
 }

 #read{
  border: none;
  color: #ffffff;
  border-radius: 20%;
  background-color: #ffc6c6;
  margin-top: 7%;
 }
 #read:hover{
 background-color: rgb(255, 255, 152);
 }
 #bg-hod{
  height: 360px;
  width: 100%;
  background: linear-gradient(to right,#2D6980 0%,#2D6980 50%,#67AFCB 50%,#67AFCB 100%);
 }
 .navbar .navbar-nav .nav-link{
    color: #ededed;
 }
 .navbar .navbar-nav .nav-link:hover{
    background-color: #fe9916;
    color: #030303;
 }
 #toggle{
    height: 20px;
    width: 20px;
    margin-left: -10px;
 }
 #toggle1{
    margin-top: -13px;
    margin-left: -8px;
    width: 15px;
    height: 15px;
 }
 #c1{
    background-color: #347B98;
    border: none;
 }
 #c2{
    background-color: #67AFCB;
    border: none;
 }
 
@media(max-width:600px)  {

#KSR_logo{
width: 100%;

}
#ks{
width: 100%;
background: linear-gradient(110deg, #2D6980, 50%,#9DCADD 60%);    

}
}
#tourv{
   display: none;
 }
 @media(max-width:600px)  {
   #tourv{
     display:block;
   }
 }
 .port{
   color:white;
   font-size: larger;
}