*{
    /* overflow-x: hidden; */
    margin: 0%;
    padding: 0%;    
}
body{
  margin: 0%;
}
#ks{
    background-color:#347B98;
    width: 100%;
    background: linear-gradient(110deg, #2D6980, 50%,#9DCADD 50%); 
    position:sticky;   
}
.sharp{
    border-radius:0;
}
.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #155FFF;
  position:relative;
  padding-right: 100px;
  margin-left:80%;
}
.switch-button:before {
  content: "Video";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

#KSR_logo{
    width: 50%;
}
#Ablock{
    width: 100%;
}
#vp{
    color: #fdfdfd;
}
   
     #text{
      color: #ededed;
      font-size: 21px;
      font-variant:small-caps;
      position:relative;
      top: 52%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      text-align:center;
     }
     #mynav{
        width: 100%;
       
     }
    
     #read{
      border: none;
      color: #ffffff;
      border-radius: 20%;
      background-color: #ffc6c6;
      margin-top: 7%;
     }
     #read:hover{
     background-color: rgb(255, 255, 152);
     }
     #bg-hod{
      height: 360px;
      width: 100%;
      background: linear-gradient(to right,#2D6980 0%,#2D6980 50%,#67AFCB 50%,#67AFCB 100%);
     }
     .navbar .navbar-nav .nav-link{
        color: #ededed;
     }
     .navbar .navbar-nav .nav-link:hover{
        background-color: #fe9916;
        color: #030303;
     }
     #toggle{
        height: 20px;
        width: 20px;
        margin-left: -10px;
     }
     #toggle1{
        margin-top: -13px;
        margin-left: -8px;
        width: 15px;
        height: 15px;
     }
     #c1{
        background-color: #347B98;
        border: none;
     }
     #c2{
        background-color: #67AFCB;
        border: none;
     }
     #name{
      font-size: 22px;
      font-weight: 700;
     }
     @media(max-width:1040px)  {
      #name{
        font-size: 17px;
        font-weight: 700;
      }
       }
 @media(max-width:600px)  {
   
   #KSR_logo{
    width: 100%;

   }
   #t2{
  font-size: 7px;
  font-weight: 700;
  overflow-x: hidden;
  }
   #ks{
    width: 100%;
    background: linear-gradient(110deg, #2D6980, 50%,#9DCADD 60%);    
    
   }
   #t-det{
    font-size: xx-small;
  }

  
#card h3,h6{
    font-size: 20px;
}
 }

#card1{
    /* display: none; */
    margin-left: 30%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    

}
#card2{
    /* display: none; */
    margin-left: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    width: 50%;

}
#box{
    background:linear-gradient( #2D6980,#9DCADD);
}
#card3{
    margin-left: 30%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    

}
#card4{
    margin-left: 30%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    

  }
a{
  text-decoration: none;  
}
#hov li a{
    color: white;
  }
#hov li a:hover{
    color: orange;
}
.container{

  display:flex;
  justify-content:end;
  align-items:center;
}

.container ul{
  display:flex;
  
}

.container ul li{
  overflow:hidden;
  list-style:none;
  margin:5px;
  height:50px;
  width:50px;
  background-color:#744655;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:4px;
  cursor:pointer;
  position:relative;
  z-index:1;
  transition:all 0.5s;
  
}

.container ul li span{
  display:none;
  font-size:14px;
  margin-left:4px;
  transition:all 4s;
  transition-delay:1s;
}

.container ul li:hover span{
  display:block;
}

.container ul li:hover{
  width:90px;
  height:50px;
  display:flex;
  justify-content:left;
  padding-left:10px;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
a{color: #fff;text-decoration: none}
/* body{
  */
  /* background: #3e3232;
  font-family: 'Poppins', sans-sherif;

  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden
} */ 
/* .ticker{display: flex;flex-wrap: wrap;width: 100%; height: 100vh;height: 50px;  display: flex;margin: 0 auto}
.news{width: 76%;background: #cc4444;padding: 0 2%}
.title{width: 20%;text-align: center;background: #c81c1c;position: relative}
.title:after{position: absolute;content: "";right: -22%;border-left: 20px solid #c81c1c;border-top: 28px solid transparent;border-right: 20px solid transparent;border-bottom: 21px solid transparent;top: 0px}
.title h5{font-size: 18px;margin: 8% 0}
.news marquee{font-size: 18px;margin-top: 12px}
.news-content p{margin-right: 41px;display: inline} */
/* #boxx{
  background:linear-gradient( #2D6980,#9DCADD)

/* } */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg,  #2D6980 0%, #9DCADD 74%);

  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg,  #2D6980 0%, #9DCADD 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #2cafc0;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
  #t-img{

  }
}
  #notifyBanner{
    font-weight: bold;
    
    /* font-size: 10px; */
  }
  #notifyBanner #date{
    margin: 0;
    bottom: 0;
    padding-top: 3px;
    width: 30px;
    height: 10px;
    background-color:#9DCADD;
    /* border: 2px solid orange; */
    border-bottom: none;
    display: flex;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
  }
  #notifyBanner #month{margin-top: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 30px;
    /* border: 2px solid white; */
    background-color:#347B98;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #tbe{
    font-size: 100px;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
  }
  
  /* header {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  header h1 {
    font-size: 60px;
  }
  
  .counters {
    color: #000000;
  
  }
  
  .counters .container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
  }
  .counters i {
    color: rgb(110, 142, 163);
    margin-bottom: 5px;
  }
  
  .counters .counter {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  @media (max-width: 700px) {
    .counters .container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    /* .counters .container > div:nth-of-type(1),
    .counters .container > div:nth-of-type(2) {
    } */
  }
  #myDiv{
    background-image: linear-gradient(  #48a5ca , #7cd8ff);
  }
/* .col-md-2{
  
} */
#notifyBanner{
  font-weight: bold;
  
  /* font-size: 10px; */
}
#notifyBanner #date{
  margin: 0;
  bottom: 0;
  padding-top: 3px;
  width: 70px;
  height: 30px;
  background-color:#9DCADD;
  /* border: 2px solid orange; */
  border-bottom: none;
  display: flex;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}
#notifyBanner #month{margin-top: 0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 70px;
  height: 50px;
  /* border: 2px solid white; */
  background-color:#347B98;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.marquee {
position: relative;
width: 100vw;
max-width: 100%;
height: 200px;
overflow: hidden;
}

.track {
position: absolute;
white-space: nowrap;
will-change: transform;
animation: marquee 5s linear infinite;
}

@keyframes marquee {
from { transform: translateY(0%); }
to { transform: translateY(-50%); }
}
/* VISION & MISSION */

.card-margin {
  margin-bottom: 1.875rem;
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.card .card-header.no-border {
  border: 0;
}
.card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.card-header:first-child {
  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
display: flex;
align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #edf1fc;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
color: #4e73e5;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
color: #4e73e5;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #fcfcfd;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
color: #dde1e9;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
color: #dde1e9;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #e8faf8;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
color: #17d1bd;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
color: #17d1bd;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #ebf7ff;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
color: #36afff;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
color: #36afff;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: floralwhite;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
color: #FFC868;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
color: #FFC868;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #feeeef;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
color: #F95062;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
color: #F95062;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #fefeff;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
color: #f7f9fa;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
color: #f7f9fa;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #ebedee;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
color: #394856;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
color: #394856;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #f0fafb;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
color: #68CBD7;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
color: #68CBD7;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
display: flex;
flex-direction: column;
margin-left: 1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
color: #3c4142;
font-size: 14px;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
color: #B1BAC5;
font-size: 13px;
}

.widget-49 .widget-49-meeting-points {
font-weight: 400;
font-size: 13px;
margin-top: .5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
display: list-item;
color: #727686;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
margin-left: .5rem;
}

.widget-49 .widget-49-meeting-action {
text-align: right;
}

.widget-49 .widget-49-meeting-action a {
text-transform: uppercase;
} 
#grad1 {
  height: 620px;
  background-image: linear-gradient(45deg,
  rgba(77, 77, 77, 0.523),
  rgba(102, 115, 128, 0.521)), url(Images/graduation.jpg);
background-repeat: no-repeat;
width: 100%;
background-size: cover;
background-attachment: fixed;
overflow: hidden;}
#carouselExampleInterval{
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
}
.heading {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading{
  color: #ffffff;
}
.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/
#t-det{
  font-weight: 700;
  color: #ffffff;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}
#info{
font-weight: 600;
color: white;
}

#bb{
  font-size: larger;
  font-weight: 900;
}

/* side-button */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed
{
    position: fixed;
    top:230px;
    right: 0;
    width:50px;
    height:200px;
    z-index:999;
}
.button 
{
display: block;
border: 0;
line-height: 3;
margin-bottom: 0.3em;
outline: none;
text-decoration: none;
color: #fff;
width: 250px;
font-size: 16px;
border-radius: 20px 0 0 20px;
font-weight: 800;
}
.buttonDiv 
{
padding: 0 21px;
border-radius: 30px 0 0 30px;
}
.buttonDiv:hover
{
    background: white;
    transition: margin 1000ms;
    margin-left: -140px;
}
/* Button Css */


.bg-b-purple
{
    background: linear-gradient(45deg, #a52dd8, #e29bf1);
}
.bg-b-purple:hover
{
    background:linear-gradient(45deg, #f4daff, #b143dd);
}
/* end-side button */
h1.hd{
  font-family: "Audiowide", sans-serif;
  text-align: center;
  color:#282d2c;
}

main {
  overflow: hidden;
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
}
  
section article.skills {
  width: 500px;
  height: auto;
}
section article.skills p {
  z-index: 2;
  color: #fff;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
section article.skills div span:nth-child(1) {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  height: 100%;
  width: 100%;
}
section article.skills div span:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5E95E8;
  height: 100%;
}
section article.skills div:nth-child(1) span:nth-child(2) {
  width: 90%;
  animation-delay: 0;
}
section article.skills div:nth-child(2) span:nth-child(2) {
  width: 95%;
  animation-delay: 0.05s;
}
section article.skills div:nth-child(3) span:nth-child(2) {
  width: 92%;
  animation-delay: 0.1s;
}
section article.skills div:nth-child(4) span:nth-child(2) {
  width: 87%;
  animation-delay: 0.15s;
}
section article.skills div:nth-child(5) span:nth-child(2) {
  width: 99%;
  animation-delay: 0.2s;
}
.events{
  margin-top: 50px;
}
.skills {
  animation: skills 1.25s cubic-bezier(0.17, 0.67, 0, 1);
}
.body{
  margin: 20px auto;
  border-radius: 30px;
  box-sizing: border-box;
  width: 90vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #f6d5f7ff, #fbe9d7ff);
}
.cards .outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card {
  background: #ffffff;
  width: 80vw;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card {
  animation-play-state: paused;
}
.cards .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes skills {
  0% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
#t-img{
  width: 10%;
}
@media(max-width:600px)  {
 
  #t-img{
    width: 30%;
  }
#t-det{
  font-size: x-small;
}
#info{
  font-size: small;
}
.bar{
  display: none;
}
.fixed
{
    position: fixed;
    top:80px;
    right: 0;
    width:130px;
    height:200px;
    z-index:999;
}

}
#com3{
  margin-top: 80px;
}
/* ABOUT-COLLEGE */
.title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
  

.btn {
  margin-top: auto;
}
/* ABOUT-COLLEGE */
/* counter plus */
.pp{
  justify-content: baseline;
  font-weight: 700;
}
.ppp{
  font-weight:bold;
  font-size: 50px;
}
/* vr tour button */
#tourv{
  display: none;
}
@media(max-width:600px)  {
  #tourv{
    display:block;
  }
}
.port{
    color:white;
    font-size: larger;
}
.marq1{
  box-shadow: rgba(64, 131, 239, 0.25) 0px 30px 60px -12px inset, rgba(64,131,239,0.25) 0px 18px 36px -18px inset;
  border-radius: 8px;
}
.marqlink{
  color: black;
  font-weight: 400;
}

/* contact */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}